@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet and Mobie */
@media screen and (max-width: 991px) {
    /* Common */
    .show-on-pc {
        display: none;
    }

    .contact-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    /* Header */
    .header__link {
        color: #333;
        font-weight: 600;
    }

    /* Menu */
    .toggle-menu {
        padding-top: 10px;
    }

    .toggle-menu svg {
        color: #ccc;
        width: 24px;
    }

    .menu-wrapper {
        position: relative;
    }

    .header__link {
        display: inline-block;
        padding: 10px 0;
    }

    .menu-inner {
        position: absolute;
        top: 40px;
        right: -8px;
        min-width: 165px;
        padding: 10px;
        border-radius: 3px;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
        background: #fff;
        transform-origin: 93% top;
        scale: 0;
        transition: 0.5s;
        z-index: 999;
    }

    .menu-inner::before {
        content: "";
        position: absolute;
        top: -18px;
        right: 8px;
        border: 10px solid;
        border-color: transparent transparent #fff;
    }

    .header__item:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }

    .menu-checkbox:checked ~ .menu-inner {
        scale: 1;
    }

    .pop-up-wrapper {
        min-width: 80%;
    } 

    /* Room */
    .room-list__overview {
        flex-direction: column;
    }

    .info__heading {
        font-size: 2rem;
    }

    .info__desc-wrap {
        font-size: 1.8rem;
    }
}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
    /* Room */
    .room__list {
        grid-template-columns: repeat(2,1fr);
    }

    /* Info right */
    .info__inner > * {
        flex: 1;
    }

    .hotline__number {
        font-size: 2.5rem;
    }

    .media__item img {
        width: 36px;
        height: 36px;
        object-fit: cover;
    }

    /* Footer */
    .footer__row {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    .hide-on-mobie {
        display: none;
    }

    /* Filter */
    .filter {
        margin-top: 30px;
    }

    .filter__form {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 20px;
    }

    .filter__select {
        width: 300px;
        height: 40px;
    }

    .filter__form-item,
    .filter__input {
        width: 100%;
    }

    /* IMG container */
    .room__img-wrap {
        flex: 1 0 100%;
    }

    .btn-next {
        right: 0;
    }

    /* Left */
    .info__left {
        width: 100%;
    }

    /* Turtorial */
    .turtorial__inner {
        flex-direction: column;
    }

    .turtorial__heading {
        margin-top: 30px;
    }

    .turtorial__right {
        margin-top: 30px;
    }

    /* Room */
    .room__list {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .room__item-rows {
        flex-direction: column;
    }

    .room__heading:nth-child(2) {
        color: #febb02;
    }

    .room__heading {
        font-size: 2.2rem;
    }

    /* Footer */
    .footer__row {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

}
