* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
}

.btn {
    padding: 16px 30px;
    border-radius: 8px;
    background: #00468b;
    border-color: #00468b;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.14;
}

.disable-scroll {
    overflow: hidden;
}

/* Pop-up */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.pop-up-img-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pop-up-img {
    width: 50%;
    object-fit: cover;
}

.pop-up-checkbox:checked + .overlay {
    visibility: hidden;
}

.pop-up-icon {
    position: relative;
    top: -30px;
    right: -10px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

/* Header */
.header {
    background: #00468b;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar {
    display: flex;
    column-gap: 32px;
}

.header__link {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}

.header__link-logo {
    color: #febb02;
    font-size: 20px;
    font-weight: 800;
}

/* Main */
.container-room {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Fixed */
.container-filter {
    width: 980px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.fixed {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;
}

.fixed__list {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.fixed__list img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.fixed__item + .fixed__item {
    margin-top: 10px;
}

/* Filter */
.filter__form {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background: #a5def2;
}

.filter__search-text {
    white-space: nowrap;
}

.filter__input {
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}

.filter__form-item {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000;
    outline: none;
}

.filter__select {
    flex: 1;
}

.filter_search-text {
    font-size: 1.2rem;
    margin-left: 5px;
    white-space: nowrap;
}

.filter__search {
    padding: 15px 20px;
    outline: none;
    border: none;
    background: #00468b;
}

/* Tutorial */
.turtorial {
    background: #eeeefe;
    margin-top: 30px;
    padding: 50px 0;
}

.turtorial__inner {
    display: flex;
    column-gap: 30px;
}

.tutorial__left,
.turtorial__right {
    flex: 1;
}

.turtorial__heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 30px;
    color: #181460;
    margin-bottom: 5px;
}

.turtorial__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #181460;
    margin-bottom: 30px;
    margin-top: 16px;
}

.turtorial-vd {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.turtorial-iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.turtorial__item {
    flex: 1;
    display: flex;
    column-gap: 10px;
    height: 100px;
}

.turtorial__item + .turtorial__item {
    margin-top: 10px;
}

.turtorial__img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.turtorial__overview-desc {
    font-size: 1.4rem;
    color: #181460;
    margin-bottom: 10px;
    line-height: 1.5;
}

.turtorial__overview-date,
.turtorial__overview-view {
    color: #989898;
    font-size: 12px;
}

.turtorial__overview-info {
    display: flex;
    column-gap: 10px;
}

.turtorial__overview-view {
    display: flex;
    column-gap: 5px;
}

.turtorial__more-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
    color: #989898;
}

/* Rooms */
.room {
    margin-top: 30px;
    padding-bottom: 40px;
}

.room__heading-wrap {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.room__heading {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #00468b;
}

.room__sort-title {
    color: #000;
    font-weight: 600;
}

.room__sort-desc {
    color: #000;
}

.room__list {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(3, 1fr);
}

.room__item {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px;
}

.room__heading-desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;

    color: #000;
}

.room__item:hover {
    scale: 1.01;
}

.room__item-img-wrap {
    height: 250px;
    width: 100%;
}

.room__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.room__item-row,
.room__item-column {
    display: flex;
    column-gap: 8px;
    margin-top: 5px;
}

.room__item-heading {
    padding: 10px 0;
    color: #000;
    font-weight: 600;
}

.room__item-desc {
    color: #666;
}

.room__sort {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.room__sort-item {
    padding: 10px;
    background: #eee;
    border-radius: 10px;
}

.room__sort-item-active {
    font-weight: 600;
    /* text-decoration: underline; */
}

.row__item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    border-radius: 5px;
    background: #00468b;
    border: 1px solid #31c3e0;
    width: 100%;
}

.row__item-btn-desc {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.row__item-btn:hover {
    opacity: 0.9;
}

.row__item-btn p:first-child {
    border-right: 1px solid #fff;
    width: 60%;
}

.row__item-btn p:nth-child(2) {
    width: 40%;
}

.room__control {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.room__page-btn {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #ddd;
    border: 1px solid #ddd;
}

.room__page-current {
    background: #e13427;
    border: 1px solid #e13427;
    color: #fff;
}

/* Footer */
.footer {
    padding: 40px 0;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.footer__info {
    display: flex;
}

.footer__location-desc {
    line-height: 1.5;
}

.footer__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__info i {
    margin-right: 10px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
}

.footer__social img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer__link-wrap + .footer__link-wrap {
    margin-top: 20px;
}

.footer__info {
    margin-top: 15px;
}

.footer__copyright {
    margin-top: 40px;
    text-align: center;
}
