.work__inner-list {
    list-style-type: decimal;
}

.work__inner-list-c2 {
    list-style-type: disc;
}

.work__inner-item,
.work__inner-list-item {
    list-style-position: inside;
}

.work__inner-list-item {
    font-weight: normal;
}

.work__inner-list--list-style {
    list-style-type: none;
}

/* Work */
.work {
    margin-top: 30px;
}

.work__heading {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.work__wrapper {
    padding: 30px;
    border-radius: 50px;
    /* background: linear-gradient(145deg, #a5def2 0, #04dbf1 100%); */
    background: var(--secondary);
}

.work__inner-heading {
    font-size: 2.6rem;
    color: #00468b;
    font-weight: 600;
}

.work__inner-item {
    color: #000;
    line-height: 2;
    font-weight: 600;
}

.work__inner-item + .work__inner-item {
    margin-top: 15px;
}

.work__inner-link {
    color: #2962ff;
}

.work__btn {
    display: block;
    margin-top: 15px;
    background-color: #febb02;
    border-radius: 50px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    border: 1px solid #000;
}

.work__inner-wrap + .work__inner-wrap {
    margin-top: 15px;
}

/* ------------------------------------- */
/* Left */
.info__left {
    width: 100%;
}

.info__heading {
    margin-top: 20px;
    font-weight: 700;
    font-size: 2.2rem;
}

.info__desc-wrap {
    margin-top: 15px;
}

.info__desc {
    font-size: 1.7rem;
    margin-top: 10px;
    list-style-type: square;
    list-style-position: inside;
}

.info__desc-highlight {
    font-weight: 600;
}

.info__work {
    margin-top: 20px;
    padding: 20px;
    background: #f7f7f7;
}

.work-desc {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary);
}

.work-list {
    margin-top: 18px;
}

.work-list__top {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    padding: 15px 20px;
    background: var(--secondary);
    line-height: 1.5;
}

.work-list-container {
    border-radius: 10px;
    overflow: hidden;
}

.work-list-container + .work-list-container {
    margin-top: 15px;
}

.work-list__code-work {
    margin-bottom: 10px;
    color: var(--primary);
}

.work-list__code-work strong {
    font-weight: 600;
}

/* Open Button */
.work-list__open {
    position: relative;
    padding-right: 15px;
}

.work-list__open.rotate-45deg::after {
    transform: translateY(calc(-50% - 0px)) rotate(-45deg);
}

.work-list__open::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    border-top: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    transition: 0.5s;
    transform: translateY(-50%) rotate(135deg);
}

/* work-list__bottom */
.work-list__bottom {
    display: none;
    background: #fff;
    padding: 15px 20px;
}

.show-detail {
    display: block;
}

.work-list__overview {
    display: flex;
    column-gap: 10px;
}

.work-list__overview > * {
    flex: 1;
}

.work-list__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.work-list__overview-wrap {
    margin-top: 5px;
}

.work-list__overview-wrap,
.work-list__detail-wrap {
    padding: 10px;
}

.work-list__bottom strong {
    color: #d69b2c;
    font-weight: 600;
    padding: 10px 0;
}

.work-list__heading {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
}

.work-list__heading::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    bottom: -8px;
    left: 0;
    background: var(--primary);
}

.work-list__overview-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    font-size: 1.4rem;
}

.work-list__overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #f7f7f7;
}

.work-list__detail {
    font-size: clamp(0.8rem, 3vw, 1.4rem);
    line-height: 1.5;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;
    margin-top: 10px;
}

.work-list__detail-top {
    border-bottom: 1px solid #ccc;
    /* grid-template-columns: repeat(2, 1fr); */
}

.work-list__detail-bottom {
    /* grid-template-columns: repeat(3, 1fr); */
}

.work-list__detail-icon-v {
    color: #1e88e5;
}

.work-list__detail-icon-x {
    color: #ff0000;
}

/* Right */
.info__right {
    width: 40%;
}

.utility__heading {
    font-size: 1.8rem;
    font-weight: 600;
}

.utility__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.utility-item {
    list-style-type: square;
    list-style-position: inside;
}

/* Contact */
.contact {
    margin-top: 50px;
    display: flex;
}

.holine,
.media {
    width: 50%;
}

.holine {
    background: #ebb143;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hotline__number {
    margin-top: 10px;
    color: #181460;
    font-weight: 700;
    font-size: 3rem;
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fde9c2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.media__list {
    display: flex;
    column-gap: 20px;
}

.media__item img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
